@namespace BsBlazor.Plus
@using BlazorDevKit
@using BsBlazor.Helpers
@using System.Linq.Expressions
@using BsBlazor.Plus.Components.Forms
@using Microsoft.AspNetCore.Components.Forms
@using System.Globalization
@typeparam TValue
@inherits BspInputFieldBase<TValue>
<div class="@CssClass">
    @RenderLabel()
    <InputDate @ref="_input"
                    Value="@Value"
                    ValueChanged="ValueChanged"
                    ValueExpression="ValueExpression!"
                    Immediate="Immediate"
                    class="@InputCss"
                    disabled="@Disabled"
                    readonly="@ReadOnly"
                    required="@Required"
                    autofocus="@AutoFocus"
                    max="9999-12-31"
                    id="@Id" placeholder="@Placeholder"/>
    @RenderValidation()
</div>
@code {
    private InputDate<TValue?> _input = default!;
    private string InputCss => CssBuilder.Default("form-control")
         .AddClass("is-invalid", EditContext != null && !EditContext.IsValid(FieldIdentifier.Create(ValueExpression!)))
         .Build();
    public override ValueTask FocusAsync() => _input.Element!.Value.FocusAsync();
}
