@namespace BsBlazor.Plus
@using BsBlazor.Helpers
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@typeparam TValue
@inherits BsComponentBase
<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @if (ShowLabel)
    {
        <label for="@Id" class="@LabelCssClass">@Label @(ShowRequiredMark ? "*" : "")</label>
    }
    @ChildContent?.Invoke(this)
    @if(EditContext != null && ValueExpression != null)
    {
        <ValidationMessage class="invalid-feedback d-block" For="@ValueExpression" />
    }
</div>
@code {
    private static int _instanceCount;
    private bool ShowRequiredMark => RequiredMark == BspFieldRequiredMark.Always 
                                     || (RequiredMark == BspFieldRequiredMark.Auto && EditContext?.IsRequired(ValueExpression) == true);
    [Parameter] public string Id { get; set; } = $"bsp-field-{_instanceCount++}";
    [Parameter] public BspFieldRequiredMark RequiredMark { get; set; } = BspFieldRequiredMark.Auto;
    [Parameter] public bool ShowLabel { get; set; } = true;
    [Parameter] public string? Label { get; set; }
    [Parameter] public RenderFragment<BspField<TValue>>? ChildContent { get; set; }
    [Parameter] public required Expression<Func<TValue>>? ValueExpression { get; set; }
    [CascadingParameter] public EditContext? EditContext { get; set; }

    public string GetValidatableControlClass(string controlClass)
    {
        if (ValueExpression is null)
        {
            return controlClass;
        }

        var fieldIdentifier = FieldIdentifier.Create(ValueExpression);
        var isValid = EditContext?.IsValid(fieldIdentifier) ?? true;
        return CssBuilder.Default(controlClass)
            .AddClass("is-invalid", !isValid)
            .Build();
    }

    protected string CssClass => CssBuilder.Empty()
       .AddClass(Class)
       .Build();
    private string LabelCssClass => CssBuilder.Default("form-label")
       .AddClass("text-danger", EditContext != null 
                                && ValueExpression != null 
                                && !EditContext.IsValid(FieldIdentifier.Create(ValueExpression)))
       .Build();
}
