@namespace BsBlazor.Plus
@using BlazorDevKit
@using BsBlazor.Helpers
@using System.Linq.Expressions
@using BsBlazor.Plus.Components.Forms
@using Microsoft.AspNetCore.Components.Forms
@using System.Globalization
@typeparam TValue
@inherits BspInputFieldBase<TValue>
<div class="@CssClass">
    @RenderLabel()
    <BdkInputNumber @ref="_input"
                    Value="@Value"
                    ValueChanged="ValueChanged"
                    ValueExpression="ValueExpression!"
                    Immediate="Immediate"
                    class="@InputCss"
                    disabled="@Disabled"
                    readonly="@ReadOnly"
                    required="@Required"
                    autofocus="@AutoFocus"
                    id="@Id" type="number" placeholder="@Placeholder"
                    min="@(Min?.ToString(CultureInfo.InvariantCulture))"
                    max="@(Max?.ToString(CultureInfo.InvariantCulture))"
                    step="@(Step?.ToString(CultureInfo.InvariantCulture))"/>
    @RenderValidation()
</div>
@code {
    private BdkInputNumber<TValue> _input = default!;
    private string InputCss => CssBuilder.Default("form-control")
         .AddClass("is-invalid", EditContext != null && !EditContext.IsValid(FieldIdentifier.Create(ValueExpression!)))
         .Build();
    [Parameter] public decimal? Step { get; set; } = 1;
    [Parameter] public decimal? Min { get; set; }
    [Parameter] public decimal? Max { get; set; }
    public override ValueTask FocusAsync() => _input.Element!.Value.FocusAsync();
}
