@using BsBlazor.Toasts
<h3>Basic</h3>
<ToastBasicExample />
<br />
<CodeSnippet For="@nameof(ToastBasicExample)" />
<br/>
<div class="alert alert-warning" role="alert">
    fade and show classes are just to force visibility of the toast. They are not necessary in your code.
</div>
<hr />

<h3>Live example</h3>
<p>Click the button below to show a toast (positioned with our utilities in the lower right corner) that has been hidden by default.</p>
<ToastLiveExample />
<br />
<CodeSnippet For="@nameof(ToastLiveExample)" />
<br/>
<hr />

<h3>Stacking </h3>
<p>You can stack toasts by wrapping them in a toast container, which will vertically add some spacing.</p>
<ToastStackingExample />
<br />
<CodeSnippet For="@nameof(ToastStackingCodeSampleExample)" />
<br/>
<hr />

<h3>Custom content </h3>
<br />
<ToastCustomContentExample />
<br />
<CodeSnippet For="@nameof(ToastCustomContentExample)" />
<br/>
<p>Alternatively, you can also add additional controls and components to toasts.</p>
<br/>
<ToastCustomContentAlternativeExample />
<br />
<CodeSnippet For="@nameof(ToastCustomContentAlternativeExample)" />
<br/>
<hr />

<h3>Color schemes </h3>
<ToastColorSchemesExample />
<br />
<CodeSnippet For="@nameof(ToastColorSchemesCodeSampleExample)" />
<br/>
<hr />

<h3>Placement  </h3>
<ToastPlacementExample />
<br />
<CodeSnippet For="@nameof(ToastPlacementCodeSampleExample)" />
<br/>
<hr />


<BsToastServiceContainer />

<h3>Toast Service - Standalone  </h3>
<ToastServiceStandaloneExample />
<br />
<br />
<CodeSnippet For="@nameof(ToastServiceStandaloneExample)" />
<br/>
<hr />
