<h3>Basic</h3>

<ExampleCodeSnippet CodeSnippetName="@nameof(ToastBasicExample)" ToolsLabel="Blazor">
    <ToastBasicExample />
</ExampleCodeSnippet>

<h3>Live example</h3>
<p>Click the button below to show a toast (positioned with our utilities in the lower right corner) that has been hidden by default.</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastLiveExample)" ToolsLabel="Blazor">
    <ToastLiveExample />
</ExampleCodeSnippet>

<h3>Stacking </h3>
<p>You can stack toasts by wrapping them in a toast container, which will vertically add some spacing.</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastStackingCodeSampleExample)" ToolsLabel="Blazor">
    <ToastStackingExample />
</ExampleCodeSnippet>

<h3>Custom content </h3>

<ExampleCodeSnippet CodeSnippetName="@nameof(ToastCustomContentExample)" ToolsLabel="Blazor">
    <ToastCustomContentExample />
</ExampleCodeSnippet>

<p>Alternatively, you can also add additional controls and components to toasts.</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastCustomContentAlternativeExample)" ToolsLabel="Blazor">
    <ToastCustomContentAlternativeExample />
</ExampleCodeSnippet>

<h3>Color schemes </h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastColorSchemesCodeSampleExample)" ToolsLabel="Blazor">
    <ToastColorSchemesExample />
</ExampleCodeSnippet>

<h3>Placement  </h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastPlacementCodeSampleExample)" ToolsLabel="Blazor">
    <ToastPlacementExample />
</ExampleCodeSnippet>


<h3>Toast Service - Standalone  </h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastServiceStandaloneExample)" ToolsLabel="Blazor">
    <ToastServiceStandaloneExample />
</ExampleCodeSnippet>

<h3>Toast Service - RenderFragment  </h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(ToastServiceRenderFragmentExample)" ToolsLabel="Blazor">
    <ToastServiceRenderFragmentExample />
</ExampleCodeSnippet>

<BsToastServiceContainer />
