<p>Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.</p>

<h3>Single button</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(DropdownsSingleButtonExample)" ToolsLabel="Blazor">
    <DropdownsSingleButtonExample />
</ExampleCodeSnippet>

<p>The best part is you can do this with any button variant, too:</p>

<ExampleCodeSnippet CodeSnippetName="@nameof(DropdownsSingleButtonWithColorVariantesExample)" ToolsLabel="Blazor">
    <DropdownsSingleButtonWithColorVariantesExample />
</ExampleCodeSnippet>

<h3>Split button</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(DropdownsSplitButtonExample)" ToolsLabel="Blazor">
    <DropdownsSplitButton />
</ExampleCodeSnippet>

<h3>Sizing</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(DropdownsSizingExample)" ToolsLabel="Blazor">
    <DropdownsSizing />
</ExampleCodeSnippet>

<h3>Dark dropdowns</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(DropdownsDarkExample)" ToolsLabel="Blazor">
    <DropdownsDarkExample />
</ExampleCodeSnippet>
