@using System.Text
<h3>Static modal example</h3>
<ModalStaticExample />
<CodeSnippet For="@nameof(ModalStaticExample)" />
<hr />
<h3>Shorthands</h3>
<p>
    Shorthands are a quick way to create a modal with a title, body, and buttons.
</p>
<h4>Modal shorthand</h4>
<ModalStaticShorthandExample/>
<CodeSnippet For="@nameof(ModalStaticShorthandExample)" />
<hr />
<h4>Modal dialog shorthand</h4>
<ModalStaticShorthandDialogExample/>
<CodeSnippet For="@nameof(ModalStaticShorthandDialogExample)" />
<hr />
<h3>Live demo</h3>
<ModalLiveDemoExample />
<CodeSnippet For="@nameof(ModalLiveDemoExample)" />
<hr />
<h3>Static backdrop</h3>
<ModalStaticBackdropExample />
<CodeSnippet For="@nameof(ModalStaticBackdropExample)" />
<hr />
<h3>Scrolling long content</h3>
<p>
    When modals become too long for the user’s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.
</p>
<ModalScrollingLongContentExample />
<p class="mt-4">
    You can also create a scrollable modal that allows scrolling the modal body by adding Scrollable parameter
</p>
<ModalScrollingLongContentScrollableExample />
<CodeSnippet For="@nameof(ModalScrollingLongContentScrollableExample)" />
<hr />
<h3>Vertically centered</h3>
<ModalVerticallyCenteredExample />
<CodeSnippet For="@nameof(ModalVerticallyCenteredExample)" />
<ModalVerticallyCenteredScrollableExample />
<CodeSnippet For="@nameof(ModalVerticallyCenteredScrollableExample)" />
<hr />
<h3>
    Toggle between modals
</h3>
<ModalToggleBetweenModalsExample />
<CodeSnippet For="@nameof(ModalToggleBetweenModalsExample)" />
<hr />
<h3>
    Remove animation
</h3>
<ModalRemoveAnimationExample />
<CodeSnippet For="@nameof(ModalRemoveAnimationExample)" />
<hr />
<h3>
    Optional sizes
</h3>
<ModalOptionalSizesExample />
<CodeSnippet For="@nameof(ModalOptionalSizesExample)" />
<hr />
<h3>
    Fullscreen Modal
</h3>
<ModalFullscreenExample />
<CodeSnippet For="@nameof(ModalFullscreenExample)" />
<hr />
<h3>Methods</h3>
<div>
    Read more: <a href="https://getbootstrap.com/docs/5.3/components/modal/#methods" target="_blank">Bootstrap - Methods</a>
</div>
<ModalInteractiveExample />
<CodeSnippet For="@nameof(ModalInteractiveExample)" />
<hr />
<h3>Extras</h3>
<p>Non native bootstrap features</p>
<h4>IModalService</h4>
<p>
    The IModalService is a service that allows you to open modals from anywhere in your application.
</p>
<p>
    To use the IModalService, you need to add the <code>BsModalServiceContainer</code> component to your application MainLayout.
</p>
<div class="card">
    <div class="card-body">
        <pre>
            <code class="language-html">
                @("<BsModalServiceContainer/>")
            </code>
        </pre>
    </div>
</div>
<hr />
<ModalServiceExample/>
<CodeSnippet For="@nameof(ModalServiceExample)" />
<div>ModalServiceDialogExample.razor</div>
<CodeSnippet For="@nameof(ModalServiceDialogExample)" />
<hr/>
<h5>Closing modal with result</h5>
<ModalServiceResultExample/>
<CodeSnippet For="@nameof(ModalServiceResultExample)" />
<div>ModalServiceResultDialogExample.razor</div>
<CodeSnippet For="@nameof(ModalServiceResultDialogExample)" />
<hr />
<h4>Opening using a RenderFragment</h4>
<ModalServiceRenderFragmentExample/>
<CodeSnippet For="@nameof(ModalServiceRenderFragmentExample)" />
<hr />
<h4>RenderFragment with modal reference</h4>
<ModalServiceRenderFragmentWithReferenceExample/>
<CodeSnippet For="@nameof(ModalServiceRenderFragmentWithReferenceExample)" />
<BsModalServiceContainer/>