@inject NavigationManager NavigationManager
<aside class="bd-sidebar">
    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
        </div>

        <div class="offcanvas-body">
            <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
                <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                  @*   <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle rebder mode">
                            <strong>Mode:</strong>&nbsp;WASM
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="bd-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                                    <svg class="bi me-2 opacity-50"><use href="#sun-fill"></use></svg>
                                    WASM
                                    <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                                    <svg class="bi me-2 opacity-50"><use href="#moon-stars-fill"></use></svg>
                                    SERVER
                                    <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                                    <svg class="bi me-2 opacity-50"><use href="#circle-half"></use></svg>
                                    STATIC
                                    <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                </button>
                            </li>
                        </ul>
                    </li> *@
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-pink);" aria-hidden="true"><use xlink:href="#palette2"></use></svg>
                            Getting started
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small">
                            <li>
                                <NavLink class="@_linkClass" href="" Match="NavLinkMatch.All">
                                    Introduction
                                </NavLink>
                            </li>
                        </ul>
                    </li>

                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
                            Basic
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small">
                            @CreateItem("Alerts")
                            @CreateItem("Badges")
                            @CreateItem("Buttons")
                            @CreateItem("Cards")
                            @CreateItem("Carousels")
                            @CreateItem("Dropdowns")
                            @CreateItem("Forms - Overview", "forms/overview")
                            @CreateItem("Modal")
                            @CreateItem("Spinners")
                            @CreateItem("Toasts")
                            @CreateItem("Tooltips")
                        </ul>
                    </li>
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-pink);" aria-hidden="true"><use xlink:href="#palette2"></use></svg>
                            Plus
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small">
                            @CreateItem("Form fields", "plus/form-fields")
                            <li>
                                <ul>
                                    @CreateItem("Select field", "plus/form-fields/select-field")
                                    @CreateItem("Select search field", "plus/form-fields/select-search-field")
                                    @CreateItem("Select multi search field", "plus/form-fields/select-multi-search-field")
                                    @CreateItem("Check field", "plus/form-fields", hash: "check-field")
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <hr/>
                    </li>
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-pink);" aria-hidden="true"><use xlink:href="#palette2"></use></svg>
                            Dev Kit
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small">
                            @CreateItem("FluentValidation", "kit/fluent-validation")
                            @CreateItem("Focus on invalid submit", "kit/focus-on-invalid-submit")
                            @CreateItem("Focus on render", "kit/focus-on-render")
                            @CreateItem("Loader", "kit/loader")
                            @CreateItem("IMask", "kit/imask")
                        </ul>
                    </li>
                    @*  
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-teal);" aria-hidden="true"><use xlink:href="#grid-fill"></use></svg>
                    Layout
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/layout/breakpoints/" class="bd-links-link d-inline-block rounded">Breakpoints</a></li>
                    <li><a href="/docs/5.3/layout/containers/" class="bd-links-link d-inline-block rounded">Containers</a></li>
                    <li><a href="/docs/5.3/layout/grid/" class="bd-links-link d-inline-block rounded">Grid</a></li>
                    <li><a href="/docs/5.3/layout/columns/" class="bd-links-link d-inline-block rounded">Columns</a></li>
                    <li><a href="/docs/5.3/layout/gutters/" class="bd-links-link d-inline-block rounded">Gutters</a></li>
                    <li><a href="/docs/5.3/layout/utilities/" class="bd-links-link d-inline-block rounded">Utilities</a></li>
                    <li><a href="/docs/5.3/layout/z-index/" class="bd-links-link d-inline-block rounded">Z-index</a></li>
                    <li><a href="/docs/5.3/layout/css-grid/" class="bd-links-link d-inline-block rounded">CSS Grid</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-gray);" aria-hidden="true"><use xlink:href="#file-earmark-richtext"></use></svg>
                    Content
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/content/reboot/" class="bd-links-link d-inline-block rounded">Reboot</a></li>
                    <li><a href="/docs/5.3/content/typography/" class="bd-links-link d-inline-block rounded">Typography</a></li>
                    <li><a href="/docs/5.3/content/images/" class="bd-links-link d-inline-block rounded">Images</a></li>
                    <li><a href="/docs/5.3/content/tables/" class="bd-links-link d-inline-block rounded">Tables</a></li>
                    <li><a href="/docs/5.3/content/figures/" class="bd-links-link d-inline-block rounded">Figures</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-blue);" aria-hidden="true"><use xlink:href="#ui-radios"></use></svg>
                    Forms
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/forms/overview/" class="bd-links-link d-inline-block rounded">Overview</a></li>
                    <li><a href="/docs/5.3/forms/form-control/" class="bd-links-link d-inline-block rounded">Form control</a></li>
                    <li><a href="/docs/5.3/forms/select/" class="bd-links-link d-inline-block rounded">Select</a></li>
                    <li><a href="/docs/5.3/forms/checks-radios/" class="bd-links-link d-inline-block rounded">Checks &amp; radios</a></li>
                    <li><a href="/docs/5.3/forms/range/" class="bd-links-link d-inline-block rounded">Range</a></li>
                    <li><a href="/docs/5.3/forms/input-group/" class="bd-links-link d-inline-block rounded">Input group</a></li>
                    <li><a href="/docs/5.3/forms/floating-labels/" class="bd-links-link d-inline-block rounded">Floating labels</a></li>
                    <li><a href="/docs/5.3/forms/layout/" class="bd-links-link d-inline-block rounded">Layout</a></li>
                    <li><a href="/docs/5.3/forms/validation/" class="bd-links-link d-inline-block rounded">Validation</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-cyan);" aria-hidden="true"><use xlink:href="#menu-button-wide-fill"></use></svg>
                    Components
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/components/accordion/" class="bd-links-link d-inline-block rounded">Accordion</a></li>
                    <li><a href="/docs/5.3/components/alerts/" class="bd-links-link d-inline-block rounded">Alerts</a></li>
                    <li><a href="/docs/5.3/components/badge/" class="bd-links-link d-inline-block rounded">Badge</a></li>
                    <li><a href="/docs/5.3/components/breadcrumb/" class="bd-links-link d-inline-block rounded">Breadcrumb</a></li>
                    <li><a href="/docs/5.3/components/buttons/" class="bd-links-link d-inline-block rounded">Buttons</a></li>
                    <li><a href="/docs/5.3/components/button-group/" class="bd-links-link d-inline-block rounded">Button group</a></li>
                    <li><a href="/docs/5.3/components/card/" class="bd-links-link d-inline-block rounded">Card</a></li>
                    <li><a href="/docs/5.3/components/carousel/" class="bd-links-link d-inline-block rounded">Carousel</a></li>
                    <li><a href="/docs/5.3/components/close-button/" class="bd-links-link d-inline-block rounded">Close button</a></li>
                    <li><a href="/docs/5.3/components/collapse/" class="bd-links-link d-inline-block rounded">Collapse</a></li>
                    <li><a href="/docs/5.3/components/dropdowns/" class="bd-links-link d-inline-block rounded">Dropdowns</a></li>
                    <li><a href="/docs/5.3/components/list-group/" class="bd-links-link d-inline-block rounded">List group</a></li>
                    <li><a href="/docs/5.3/components/modal/" class="bd-links-link d-inline-block rounded">Modal</a></li>
                    <li><a href="/docs/5.3/components/navbar/" class="bd-links-link d-inline-block rounded">Navbar</a></li>
                    <li><a href="/docs/5.3/components/navs-tabs/" class="bd-links-link d-inline-block rounded">Navs &amp; tabs</a></li>
                    <li><a href="/docs/5.3/components/offcanvas/" class="bd-links-link d-inline-block rounded">Offcanvas</a></li>
                    <li><a href="/docs/5.3/components/pagination/" class="bd-links-link d-inline-block rounded">Pagination</a></li>
                    <li><a href="/docs/5.3/components/placeholders/" class="bd-links-link d-inline-block rounded">Placeholders</a></li>
                    <li><a href="/docs/5.3/components/popovers/" class="bd-links-link d-inline-block rounded">Popovers</a></li>
                    <li><a href="/docs/5.3/components/progress/" class="bd-links-link d-inline-block rounded">Progress</a></li>
                    <li><a href="/docs/5.3/components/scrollspy/" class="bd-links-link d-inline-block rounded">Scrollspy</a></li>
                    <li><a href="/docs/5.3/components/spinners/" class="bd-links-link d-inline-block rounded">Spinners</a></li>
                    <li><a href="/docs/5.3/components/toasts/" class="bd-links-link d-inline-block rounded">Toasts</a></li>
                    <li><a href="/docs/5.3/components/tooltips/" class="bd-links-link d-inline-block rounded">Tooltips</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-orange);" aria-hidden="true"><use xlink:href="#magic"></use></svg>
                    Helpers
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/helpers/clearfix/" class="bd-links-link d-inline-block rounded">Clearfix</a></li>
                    <li><a href="/docs/5.3/helpers/color-background/" class="bd-links-link d-inline-block rounded">Color &amp; background</a></li>
                    <li><a href="/docs/5.3/helpers/colored-links/" class="bd-links-link d-inline-block rounded">Colored links</a></li>
                    <li><a href="/docs/5.3/helpers/focus-ring/" class="bd-links-link d-inline-block rounded">Focus ring</a></li>
                    <li><a href="/docs/5.3/helpers/icon-link/" class="bd-links-link d-inline-block rounded">Icon link</a></li>
                    <li><a href="/docs/5.3/helpers/position/" class="bd-links-link d-inline-block rounded">Position</a></li>
                    <li><a href="/docs/5.3/helpers/ratio/" class="bd-links-link d-inline-block rounded">Ratio</a></li>
                    <li><a href="/docs/5.3/helpers/stacks/" class="bd-links-link d-inline-block rounded">Stacks</a></li>
                    <li><a href="/docs/5.3/helpers/stretched-link/" class="bd-links-link d-inline-block rounded">Stretched link</a></li>
                    <li><a href="/docs/5.3/helpers/text-truncation/" class="bd-links-link d-inline-block rounded">Text truncation</a></li>
                    <li><a href="/docs/5.3/helpers/vertical-rule/" class="bd-links-link d-inline-block rounded">Vertical rule</a></li>
                    <li><a href="/docs/5.3/helpers/visually-hidden/" class="bd-links-link d-inline-block rounded">Visually hidden</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-red);" aria-hidden="true"><use xlink:href="#braces-asterisk"></use></svg>
                    Utilities
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/utilities/api/" class="bd-links-link d-inline-block rounded">API</a></li>
                    <li><a href="/docs/5.3/utilities/background/" class="bd-links-link d-inline-block rounded">Background</a></li>
                    <li><a href="/docs/5.3/utilities/borders/" class="bd-links-link d-inline-block rounded">Borders</a></li>
                    <li><a href="/docs/5.3/utilities/colors/" class="bd-links-link d-inline-block rounded">Colors</a></li>
                    <li><a href="/docs/5.3/utilities/display/" class="bd-links-link d-inline-block rounded">Display</a></li>
                    <li><a href="/docs/5.3/utilities/flex/" class="bd-links-link d-inline-block rounded">Flex</a></li>
                    <li><a href="/docs/5.3/utilities/float/" class="bd-links-link d-inline-block rounded">Float</a></li>
                    <li><a href="/docs/5.3/utilities/interactions/" class="bd-links-link d-inline-block rounded">Interactions</a></li>
                    <li><a href="/docs/5.3/utilities/link/" class="bd-links-link d-inline-block rounded">Link</a></li>
                    <li><a href="/docs/5.3/utilities/object-fit/" class="bd-links-link d-inline-block rounded">Object fit</a></li>
                    <li><a href="/docs/5.3/utilities/opacity/" class="bd-links-link d-inline-block rounded">Opacity</a></li>
                    <li><a href="/docs/5.3/utilities/overflow/" class="bd-links-link d-inline-block rounded">Overflow</a></li>
                    <li><a href="/docs/5.3/utilities/position/" class="bd-links-link d-inline-block rounded">Position</a></li>
                    <li><a href="/docs/5.3/utilities/shadows/" class="bd-links-link d-inline-block rounded">Shadows</a></li>
                    <li><a href="/docs/5.3/utilities/sizing/" class="bd-links-link d-inline-block rounded">Sizing</a></li>
                    <li><a href="/docs/5.3/utilities/spacing/" class="bd-links-link d-inline-block rounded">Spacing</a></li>
                    <li><a href="/docs/5.3/utilities/text/" class="bd-links-link d-inline-block rounded">Text</a></li>
                    <li><a href="/docs/5.3/utilities/vertical-align/" class="bd-links-link d-inline-block rounded">Vertical align</a></li>
                    <li><a href="/docs/5.3/utilities/visibility/" class="bd-links-link d-inline-block rounded">Visibility</a></li>
                    <li><a href="/docs/5.3/utilities/z-index/" class="bd-links-link d-inline-block rounded">Z-index</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-blue);" aria-hidden="true"><use xlink:href="#tools"></use></svg>
                    Extend
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/extend/approach/" class="bd-links-link d-inline-block rounded">Approach</a></li>
                    <li><a href="/docs/5.3/extend/icons/" class="bd-links-link d-inline-block rounded">Icons</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true"><use xlink:href="#globe2"></use></svg>
                    About
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a href="/docs/5.3/about/overview/" class="bd-links-link d-inline-block rounded">Overview</a></li>
                    <li><a href="/docs/5.3/about/team/" class="bd-links-link d-inline-block rounded">Team</a></li>
                    <li><a href="/docs/5.3/about/brand/" class="bd-links-link d-inline-block rounded">Brand</a></li>
                    <li><a href="/docs/5.3/about/license/" class="bd-links-link d-inline-block rounded">License</a></li>
                    <li><a href="/docs/5.3/about/translations/" class="bd-links-link d-inline-block rounded">Translations</a></li>
                    </ul>
                    </li>
                    <li class="bd-links-span-all mt-1 mb-3 mx-4 border-top"></li>
                    <li class="bd-links-span-all">
                    <a href="/docs/5.3/migration/" class="bd-links-link d-inline-block rounded small ">
                    Migration
                    </a>
                    </li> *@
                </ul>
            </nav>

        </div>
    </div>
</aside>
@code
{
    record MenuItem(string Name, string? Text = null)
    {
        public string ShowingText => Text ?? Name;
    };
    private string _linkClass = "bd-links-link d-inline-block rounded";
    private RenderFragment CreateItem(string name, string? url = null, string? hash = null)
    {
        url = url ?? name.ToLower();
        var href = $"/{url}/{GetCurrentRenderMode()}";
        if (!string.IsNullOrWhiteSpace(hash))
        {
            href += $"#{hash}";
        }
        return @<li>
            <NavLink class="@_linkClass" href="@href" Match="NavLinkMatch.Prefix">
                @name
            </NavLink>
        </li>;
    }
    private string GetCurrentRenderMode()
    {
        var uri = NavigationManager.Uri;
        if(uri.Contains("/server", StringComparison.OrdinalIgnoreCase)){ return "server"; }
        if (uri.Contains("/static", StringComparison.OrdinalIgnoreCase)) { return "static"; }
        return "wasm";
    }
}