@using System.Globalization
@layout MainLayout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div>
    <div>
        <h1>@Component</h1>
        <ul class="nav nav-pills">
            @RenderNavLink("Wasm")
            @RenderNavLink("Server")
            @RenderNavLink("Static")
        </ul>
        <hr />
    </div>
    <div class="@Bs.Css.FlexGrow1.OverflowAuto">
    </div>
</div>
<div class="bd-content ps-lg-2">
    @Body
</div>
@code {
    private string Component => ToTitleCase(NavigationManager.Uri.Split('/')[3] ?? "Component");
    private string RenderMode => ToTitleCase(NavigationManager.Uri.Split('/')[^1]);


    private RenderFragment RenderNavLink(string? renderMode) => @<li class="nav-item">
    <NavLink class="nav-link" href="@($"{Component.ToLower()}/{renderMode?.ToLower()}")" Match="NavLinkMatch.All">@(renderMode ?? "Static")</NavLink>
</li>;

    private string ToTitleCase(string str)
    {
        return CultureInfo.InvariantCulture.TextInfo.ToTitleCase(str);
    }
}