@using System.Globalization
@layout MainLayout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div>
    <div>
        <h1>
            <SectionOutlet SectionName="title" />
        </h1>
        <ul class="nav nav-pills">
            @RenderNavLink("Wasm")
            @RenderNavLink("Server")
            @RenderNavLink("Static")
        </ul>
        <hr />
    </div>
    <div class="@Bs.Css.FlexGrow1.OverflowAuto">
    </div>
</div>
<div class="bd-content ps-lg-2">
    @Body
</div>
@code {
    private RenderFragment RenderNavLink(string? renderMode)
    {
        var urlWithoutLastPart = string.Join("/", NavigationManager.Uri.Split('/')[..^1]);
        return @<li class="nav-item">
    <NavLink class="nav-link" href="@($"{urlWithoutLastPart}/{renderMode?.ToLower()}")" Match="NavLinkMatch.All">@(renderMode ?? "Static")</NavLink>
</li>;
    }
}