@inject IToastService ToastService

<div class="@Bs.Css.DisplayFlex.FlexColumn.Gap2.MarginTop4.MarginBottom4.Border.Rounded3">

    <div class="@Bs.Css.DisplayBlock.Padding4">
        @ChildContent
    </div>
    <div class="@Bs.Css.DisplayFlex.TextBackgroundLight.Padding2.Border.BorderStart0.BorderEnd0.AlignItemsCenter">
        <span class="fw-lighter @Bs.Css.MarginEndAuto">@ToolsLabel</span>
       <BsButton OnClick="CopyAsync" Variant="BsButtonVariant.Primary" Size="BsButtonSize.Small" Type="BsButtonType.Button">
            Copy
        </BsButton>
    </div>
    <div class="@Bs.Css.Padding4">
        <CodeSnippet @ref="_codeSnippet" For="@CodeSnippetName"></CodeSnippet>
    </div>
</div>


@code 
{
    private CodeSnippet? _codeSnippet;
    
    [Parameter] public string ToolsLabel { get; set; } = string.Empty;
    
    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    [EditorRequired]
    public required string CodeSnippetName { get; set; }

    private async Task CopyAsync()
    {
        if(_codeSnippet is null) return;
        
        await _codeSnippet.CopyTextToClipboard();
        await ToastService.ShowAsync("Code copied to clipboard");
    }
}