<div>
    <h3>Pattern Mask</h3>
     <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskPatternExample)" ToolsLabel="Blazor">
        <IMaskPatternExample />
    </ExampleCodeSnippet>
    <h3>Pattern Mask Unmasked</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskPatternUnmaskedExample)" ToolsLabel="Blazor">
        <IMaskPatternUnmaskedExample />
    </ExampleCodeSnippet>
    <h3>Pattern Mask - Update Mask</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskPatternUpdateExample)" ToolsLabel="Blazor">
        <IMaskPatternUpdateExample />
    </ExampleCodeSnippet>
    <h3>Pattern Mask - Dynamic Mask</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskPatternDynamicExample)" ToolsLabel="Blazor">
        <IMaskPatternDynamicExample />
    </ExampleCodeSnippet>
    <h3>Number Mask</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskNumberExample)" ToolsLabel="Blazor">
        <IMaskNumberExample />
    </ExampleCodeSnippet>
    <h3>Number Mask Parameters</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskNumberParametersExample)" ToolsLabel="Blazor">
        <IMaskNumberParametersExample />
    </ExampleCodeSnippet>
    <h3>Number Mask Binding</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(IMaskNumberBindingExample)" ToolsLabel="Blazor">
        <IMaskNumberBindingExample />
    </ExampleCodeSnippet>
</div>
