<h3>Text field</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(TextFieldExample)" ToolsLabel="Blazor">
    <TextFieldExample />
</ExampleCodeSnippet>
<h3>Validation - DataAnnotations</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(TextFieldDataAnnotationsValidationExample)" ToolsLabel="Blazor">
    <TextFieldDataAnnotationsValidationExample />
</ExampleCodeSnippet>
<h3>Validation - FluentValidation</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(TextFieldFluentValidationExample)" ToolsLabel="Blazor">
    <TextFieldFluentValidationExample />
</ExampleCodeSnippet>
<h3>Number field</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(NumberFieldExample)" ToolsLabel="Blazor">
    <NumberFieldExample />
</ExampleCodeSnippet>
<h3>TextArea field</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(TextAreaFieldExample)" ToolsLabel="Blazor">
    <TextAreaFieldExample />
</ExampleCodeSnippet>
<h3>Date field</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(DateFieldExample)" ToolsLabel="Blazor">
    <DateFieldExample />
</ExampleCodeSnippet>
<h3 id="select-field">Select field</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(SelectFieldExample)" ToolsLabel="Blazor">
    <SelectFieldExample />
</ExampleCodeSnippet>
<h3 id="check-field">Check field</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(CheckFieldExample)" ToolsLabel="Blazor">
    <CheckFieldExample />
</ExampleCodeSnippet>
<h4>Check field with custom label content</h4>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(CheckFieldCustomLabelExample)" ToolsLabel="Blazor">
    <CheckFieldCustomLabelExample />
</ExampleCodeSnippet>